body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.navbar .brand {
  color: #A30A0A;
}

.well .jstree-classic.jstree-focused {
  background: transparent;
}